apiVersion: v1
baseDomain: {{ domain_name }}
compute:
- architecture: amd64 
  hyperthreading: Enabled
  name: worker
  replicas: 0
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  replicas: 3
metadata:
  name: {{ cluster_name }}
networking:
  clusterNetwork:
  - cidr: {{ cluster_net }}
    hostPrefix: {{ cluster_net_len }}
  machineNetwork:
  - cidr: {{ machine_net }}
  networkType: OVNKubernetes 
  serviceNetwork:
  - {{ service_net }}
platform:
  baremetal:
    apiVIPs:
    - {{ api_vip }}
    ingressVIPs:
    - {{ ingress_vip }}
  none: {}
pullSecret: '{{ pull_secret }}'
sshKey: '{{ ssh_key }}'
